// Styles of font
@mixin font-styles($f-family, $f-weight, $f-size, $l-height) {
  font-family: $f-family;
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $l-height;
}

// List undestyle
@mixin flex-starter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Responsive breakpoint down
@mixin breakpoint-down($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}