// text color
$text-color:  #fbfcfe;

// Background color light
$bg-color-light: #edf3f8;

// Background color dark
$bg-color-dark: #1b262f;

// Background color light
$title-color-light: #36536b;

$button-bg-color: #ba4270;