.footer {
  background-color: $bg-color-dark;
  background-image: url("../img/hero-bg-img.png");
  background-size: 780px;
  background-position: calc(50% + 700px) calc(50% + 200px);
  background-repeat: no-repeat;
}

.footer__inner {
  @include flex-starter;
  padding-top: 31px;
  padding-bottom: 31px;
}

.footer__logo-nav {
  @include flex-starter;
  width: 432px;
}

.footer__nav-link {
  color: #fbfcfe;
  opacity: 0.7;
}

.footer__icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 120px;
  @include flex-starter;
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.footer__icon path {
  fill: #fbfcfe;
}

.footer__icon:hover path {
  fill: #da6d97;
}

.footer__icon:active path {
  fill: #ba4270;
}

@include breakpoint-down(1000px) {
  .footer {
    background-position: calc(50% + 225px) calc(50% + 200px);
  }
}

@include breakpoint-down(650px) {
  .footer {
    background-position: center calc(50% + 395px);
  }

  .footer__inner {
    flex-direction: column;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  .footer__logo-nav {
    flex-direction: column;
    max-width: 290px;
  }

  .footer__nav {
    margin-top: 9px;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__nav-item {
    margin: 0;
    margin-top: 31px;
  }

  .footer__icon-list {
    margin-top: 39px;
  }
}