.implement {
  background-color: $bg-color-light;
}

.implement__inner {
  @include flex-starter;
  padding-top: 100px;
  padding-bottom: 10px;
  max-width: 1015px;
}

.implement__img {
  width: 445px;
  height: 284px;
}

.implement__content {
  max-width: 445px;
}

.implement__heading {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
  margin: 0;
}

.implement__text {
  color: #6c8294;
  margin: 0;
  margin-top: 24px;
}

@include breakpoint-down(950px) {
  .implement__inner {
    flex-direction: column;
  }
  
  .implement__img {
    width: 392px;
    height: 250px;
  }
  
  .implement__content {
    max-width: 573px;
    text-align: center;
    margin-top: 48px;
  }
  
  .implement__heading {
    font-size: 48px;
    line-height: 56px;
  }
}

@include breakpoint-down(450px) {
  .implement__inner {
    padding-top: 80px;
  }
  
  .implement__img {
    width: 290px;
    height: 186px;
  }
  
  .implement__heading {
    font-size: 36px;
    line-height: 36px;
  }
}