.nav__list {
  @include undestyle-list;
  font-size: 14px;
  line-height: 16px;
}

.nav__item {
  margin-right: 30px;
}

.nav__item--last {
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: $title-color-light;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.nav__item:hover .nav__link {
  opacity: 1;
}

.nav__item:active .nav__link {
  opacity: 0.8;
}