.services {
  background-color: #edf3f8;
}

.services__inner {
  padding: 6px 0px;
}

.services__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.services__item {
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

.services__item:nth-child(1) {
  margin-left: 0;
}

.services__item:nth-child(1):before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  background-color: #fff;
  background-image: url("../img/services-img-finances.png");
  background-size: 106px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 32px;
}

.services__item:nth-child(2):before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  background-color: #fff;
  background-image: url("../img/services-img-coverage.png");
  background-size: 106px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 32px;
}

.services__item:nth-child(3):before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  background-color: #fff;
  background-image: url("../img/services-img-payments.png");
  background-size: 106px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 32px;
}

.services__item-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: #36536b;
  margin: 0;
  margin-bottom: 16px;
}

.services__item-text {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #6c8294;
}

@media only screen and (max-width: 686px) {
  .services__list {
    flex-direction: column;
    align-items: center;
  }

  .services__item {
    margin-left: 0;
    margin-top: 48px;
  }

  .services__item:nth-child(1) {
    margin-top: 0px;
  }
}