.simple {
  background: $bg-color-light;
  background-image: url("../img/hero-bg-img.png");
  background-size: 780px 780px;
  background-position: calc(50% + 725px) 0;
  background-repeat: no-repeat;
}

.simple__inner {
  @include flex-starter;
  padding-top: 140px;
  padding-bottom: 140px;
  max-width: 1106px;
}

.simple__content {
  max-width: 445px;
}

.simple__heading {
  @include font-styles('DM Serif Display', 400, 48px, 56px);
  letter-spacing: -0.369231px;
  color: $title-color-light;
  margin: 0;
}

.simple__text {
  color: #6c8294;
}

.simple__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 566px;
}

.simple__item-img {
  width: 264px;
  height: 500px;
  border-radius: 35px;
}

@include breakpoint-down(1024px) {
  .simple__inner {
    flex-direction: column-reverse;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .simple__list {
    width: 363px;
  }
  
  .simple__item-img {
    width: 169px;
    height: 320px;
    border-radius: 24px;
  }

  .simple__content {
    text-align: center;
    max-width: 573px;
    margin-top: 43px;
  }
  
  .simple__heading {
    font-size: 48px;
    line-height: 56px;
  }
}

@include breakpoint-down(420px) {
  .simple__inner {
    padding-top: 74px;
    padding-bottom: 74px;
  }

  .simple__list {
    width: 290px;
  }
  
  .simple__item-img {
    width: 140px;
    height: 286px;
    border-radius: 14px;
  }

  .simple__content {
    text-align: center;
    max-width: 573px;
    margin-top: 43px;
  }
  
  .simple__heading {
    font-size: 24px;
    line-height: 36px;
  }
}